/node_modules
package-lock.json
/package.json

/jest.config.js
/.eslintrc.json
tsconfig*.json
tests/tsconfig.json

/*.md

/public
/out
/.next
/next-env.d.ts
/next-i18next.config.js
/next.config.js

/coverage

/storybook-static
/.eslintrc.js

/i18n
